@import url(./__button/form__button.css);
@import url(./__input/form__input.css);
@import url(./__label/form__label.css);
@import url(./__textarea/form__textarea.css);

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}